<div>
    <section class="main-table-content">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>CryptoCurrency</th>
            <th>Market Cap</th>
            <th>Price(USD)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let crypto of this.cryptoService.topCryptos;">
            <td>{{ crypto.rank }}</td>
            <td class="crypto-name" (click)="coin.emit(crypto);">{{ crypto.name }}</td>
            <td>{{ crypto.marketCapUsd | currency:'USD': 'symbol':'.0' }}</td>
            <td>{{ crypto.priceUsd | currency }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
