<main class="main">

    <!-- for table -->
    <div class="main-table">
        <!-- for table -->
        <app-crypto-table
        (coin)="showCoinChart($event)">
        </app-crypto-table>
        <!-- for table -->
    </div>
    <!-- for table -->

    <!-- for chart -->
    <div class="main-chart">
      <!-- for chart -->
        <h2>{{ this.coinName }} Chart</h2>
        <app-crypto-chart
        [type]="type"
        [chartData]="chartData"
        [options]="options"
        (days)="showDaysChart($event)">
        </app-crypto-chart>
      <!-- for chart -->
    </div>
    <!-- for chart -->

  </main>
