main {
  background-color: #23BEE5;
  position: relative;
  width: 100%;
  /* width: 1200px; */
  height: 1100px;
  margin: 0 auto;
  text-align: center;
}
.main-table {
  /* background-color: white; */
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  width: 470px;
}
.main-chart {
  /* background-color: black; */
  position: absolute;
  top: 10px;
  right: 30px;
  bottom: 10px;
  width: 700px;
}
