header {
  background-color: aqua;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.headline {
  background-color: blueviolet;
  text-align: center;
}
hr {
  width: 400px;
}
.readable-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}
.ranks-select {
  padding: 0 350px;
}
.ranks-select button {
  cursor: pointer;
  margin: 10px 10px;
  border-radius: 5px 5px 5px 5px;
}
.ranks-select button.active,
.ranks-select button.focus,
.ranks-select button.hover {
  color: #0090ff;
  border-color: #0090ff;
}
